body {
	color:black;
	}

h4 {
	font-family: 'Roboto Slab', serif;
}

	
.nav-wrapper{
	background-color: white;

}
.brand-logo center {
	margin-left: 100px;
}
.thumbnail {
	position: relative;
    width: 300px;     
    height: 300px;
    overflow: hidden;
}
.thumbnail img {
	
	width: 300px;     
    height: 300px;
	object-fit: cover;
}
