<header>
	
	
	<nav class="z-depth-0">
		<div class="nav-wrapper grey lighten-4">
			<div class="center-align">
				<!-- Logo -->
				<a href="#" class="brand-logo"><img class = "small-image" src="/image/logo.png"/></a>
			</div>
			
			<!-- Nav Menu -->
			<ul id="nav-mobile" class="right hide-on-med-and-down" style="margin-right: 16%">
				<li><a href="/" class="black-text">Home</a></li>
				<li><a href="/showcase-page" class="black-text">Adopt A Doggo</a></li>
				<li><a href="/new-dog" class="black-text">Sign Up As An Owner!</a></li>
			</ul>
		</div>
	</nav>
</header>